{% extends 'base.html' %}
  {% block title %}
    Create Record
  {% endblock %}
    {% block body %}<br/>
    <div class="card col-md-4 offset-md-4">
      <h2 class="card-header">Add Record</h2>
        <div class="card-body">
            <form method="POST" action="/add_record/" enctype="mutlipart/form-data">
              {% csrf_token %}
            <div class="mb-3">
              <input class="form-control" type="text" name="name" placeholder="Name" required>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="email" placeholder="Email" required>
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" name="phone" placeholder="Phone" required>
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" name="address" placeholder="Address" required>
              </div>
              <div class="mb-3">
                <input class="form-control" type="text" name="city" placeholder="City" required>
              </div>
              <div class="mb-2">
                <input type="text" class="form-control" name="zipcode" placeholder="ZipCode" required>
              </div><br/>
            <button type="submit" class="btn btn-info">Add Record</button>
            </form>
          </div>
      </div>
    </div>
{% endblock %}